<h2 id="adherentes"><img src="assets/images/servicios.png" alt="...">Adherentes</h2>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
	<div class="well adherentes-well"> 
		<div class="row">
		  	<div class="col-md-6">
		        <ul>
					<% @adherentes.each do |a| %>
						<li><%= a.nombre %></li>
					<% end %>
		        </ul>
	      	</div>
	      	<div class="col-md-6">
				<ul>
					<li>Adherente1</li>
					<li>Adherente2</li>
					<li>Adherente1</li>
					<li>Adherente2</li>
					<li>Adherente1</li>
					<li>Adherente2</li>
					<li>Adherente1</li>
					<li>Adherente2</li>
					<li>Adherente1</li>
					<li>Adherente2</li>
					<li>Adherente2</li>
					<li>Adherente1</li>
					<li>Adherente2</li>
					<li>Adherente1</li>
					<li>Adherente2</li>
				</ul>
	  		</div>
		</div>
	</div>
	<br/><br/>  