<div class="bs-sidebar affix" role="complementary">
    <ul class="nav bs-sidenav">       
      <li class="active"><a href="#servicios">Servicios</a></li>
      <li><a href="#documentos">Documentos</a></li>
      <li><a href="#adherentes">Adherentes</a></li>
      <li><a href="#consejo">Consejo de ética y transparencia</a></li>
    </ul>
    <center>
    <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Botón videos</a>
  </center>
</div>